#main_image{
background-image:url('https://wallpaperaccess.com/full/26377.jpg');
width:auto;
margin-top:90px;
height:40rem;
}
#image_text{
margin-top:200px;
text-align:center;

}
#card{
background-image:url('https://wallpaperaccess.com/full/1567665.png');
margin-top:50px;
}
#card2{
background-image:url('https://wallpapercave.com/wp/wp3537545.jpg');
margin-top:50px;
}
#card3{
background-image:url('https://www.wallpapertip.com/wmimgs/237-2373195_future-tech-wallpapers.jpg');
margin-top:50px;
}
#main_text{
font-size:350%;
}
#footer{
margin-top:50px;
}

